.job-offers-list {
  $line_height: 24px;
  $divider_height: 29px;


  &__item {
    border-top: 1px solid $border_color1;
    padding-top: 15px;

    @include respond-above(xl) {
      padding-top: $spacer*1.25;
    }

    &__number-container {
      position: relative;
      overflow: hidden;
    }

    &__vertical-divider {
      width: 1px;
      height: $divider_height;
      background-color: $border_color1;
      display: block;
      @include absolute(-9px, 8px, auto, auto);
      @include transform(rotate(17deg));
      transform-origin: bottom left;

      @include respond-above(xl) {
        position: static;
        display: inline-block;
        margin-top: -$divider_height - $line_height;
      }
    }

    &__number {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $border_color1;

      @include respond-above(xl) {
        font-size: 20px;
        line-height: 29px;
      }
    }

    .position-list {
      margin-bottom: 0;

      &__position-name {
        //display: inline-block;

        &:after {
          content: '/';
          padding-left: 5px;
        }

      }
    }

    &__show-more-block {
      margin-top: 5px;
      margin-bottom: 12px;

      @include respond-above(xl) {
        margin-top: 0;
        margin-bottom: map-get($gutters, 3);
      }
    }

    @mixin show_hide_btn() {
      cursor: pointer;
      border: none;
      margin: 0;
      @include flexbox;
      @include justify-content(center);
      align-items: center;
      @include align-items(center);
      @include transition();
      background-color: $border_color1;
      @include circle(30px);

      img {
        width: 12px;
      }

      @include respond-above(xl) {
        @include circle(35px);

        img {
          width: 14px;
        }
      }


      &:hover {
        background-color: #fff;
      }
    }


    .job-offers-list-item__toggle-elem {
      @include show_hide_btn;

    }

    .job-offers-list-item__more-details-container {
      padding-top: map-get($gutters, 3);
      color: #8095A4;
      padding-bottom: 30px;

      p {
        margin-bottom: map-get($gutters, 3);
      }
    }

    .job-offers-list-item__show-less-btn-container {
      padding-left: 0;
    }

    &:not(.job-offers-list-item_show-more) {

      .job-offers-list-item__more-details-container {
        display: none;
      }

      .job-offers-list-item__show-less-btn-container {
        display: none;
      }

    }

    &.job-offers-list-item_show-more {

      .job-offers-list-item__show-less-btn-container {
        display: flex;
      }

      .job-offers-list-item__show-more-button-container {
        display: none;
      }

    }

    .dots-list {
      @include flexbox;

      li {
        margin-right: map-get($gutters, 1);
        @include circle(map-get($gutters, 1));
        background: $bg_colo_gray;
      }
    }

  }

}


.blog-list {

  .blog-item {

    &__inner_container {
      position: relative;
      overflow: hidden;
    }

    &__image {
      width: 100%;
    }


    &__text-content {
      @include absolute(0, 0, 0, 0);
      @include square(100%);
      background: linear-gradient(180deg, rgba(8, 32, 48, 0) 30.21%, #082030 100%);
      padding: 35px 0;
      @include flexbox;
      @include flex-wrap();
      @include align-content(flex-end);

      & > .row {
        width: 100%;
      }
    }

    &__category {
      @include text-shorten();
      @include respond-above(xl) {
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
      }
    }

    &__title {
      color: #fff;
      font-weight: 400;
      text-transform: capitalize;
      margin-bottom: 0;
      @include ellipsis(2);
    }

  }

}

.input-container {
  display: table;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  padding-top: map-get($gutters, 4);

  @include respond-above(xl) {
    padding-top: 18px;
  }

  &__label {
    display: table-cell;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #878787;
    white-space: nowrap;
    padding-right: map-get($gutters, 1);

    &_full-width {
      display: block;
    }
  }

  &__input {
    display: table-cell;
    width: 100%;
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #1F2D3A;

    &_full-width {
      display: block;
    }


    &:focus {
      border: none;
      outline: none;
    }
  }

  &__divider {
    @include absolute(auto, 0, 0, 0);
    width: 100%;
    background: $bg_colo_gray;
    height: 1px;

    &:before {
      @include absolute(0, auto, auto, 0);
      content: '';
      width: 0;
      height: 1px;
      background-color: transparent;
      @include transition();
    }
  }

  &__error-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: $error_color;
    @include absolute(13px, auto, auto, 0);
    @include transition();
    @include opacity(0);
    pointer-events: none;

    @include respond-above(xl) {
      top: 6px;
    }
  }

  &__asterisk {
    color: $section__header_color;
  }


  &__input:invalid:focus ~ &__divider:before {
    width: 100%;
    background-color: $error_color;
  }

  &__input:valid:focus ~ &__divider:before {
    width: 100%;
    background-color: green;
  }

  &__input:invalid:focus ~ &__error-text {
    @include opacity(1);
    pointer-events: auto;
  }

}

.slider-control-list {
  display: flex;
  align-items: end;
  margin: 0 -1.5px;
  width: calc(100% * 1.5 * 2);

  &__item {
    padding: 0 1.5px;

    .slider-control-item__button {
      width: 27px;
      height: 3px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 1px;
      @include transition();


      &_active {
        height: 7px;
      }
    }


  }


}




