.job-offers-list {


  &__item {
    border-top: 1px solid #415867;
    padding-top: 15px;

    &__number-container {
      position: relative;
      overflow: hidden;
    }

    &__vertical-divider {
      position: absolute;
      width: 1px;
      height: 29px;
      background-color: #415867;
      display: block;
      right: 8px;
      top: -9px;
      @include transform(rotate(17deg));
      transform-origin: bottom left;
    }

    &__number {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #415867;
    }

    .position-list {

      &__position-name {
        display: block;

        &:after {
          content: '/';
          padding-left: 5px;
        }

      }
    }

    &__show-more-block {
      margin-top: 5px;
      margin-bottom: 12px;
    }


    &__show-more-button {
      cursor: pointer;
      border: none;
      margin: 0;
      display: block;
      @include transition();
      background-color: #415867;
      @include circle(35px);

      &:hover {
        background-color: #fff;
      }
    }

  }


}


.blog-list {


  .blog-item {

    &__inner_container {
      position: relative;
      overflow: hidden;
    }

    &__text-content {
      @include absolute(0, 0, 0, 0);
      @include square(100%);
      background: linear-gradient(180deg, rgba(8, 32, 48, 0) 30.21%, #082030 100%);
      padding: 35px 0px;
      display: flex;
      flex-wrap: wrap;
      align-content: end;

      & > .row {
        width: 100%;
      }
    }

    &__category {
      @include text-shorten();
    }

    &__title {
      margin-bottom: 0;
      @include ellipsis(2);
    }

  }

}

.input-container {
  display: table;
  padding-bottom: 10px;
  position: relative;
  width: 100%;
  padding-top: map-get($gutters, 4);

  &__label {
    display: table-cell;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #878787;
    white-space: nowrap;
    padding-right: map-get($gutters, 1);

    &_full-width {
      display: block;
    }
  }

  &__input {
    display: table-cell;
    width: 100%;
    border: none;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    color: #1F2D3A;

    &_full-width {
      display: block;
    }


    &:focus {
      border: none;
      outline: none;
    }
  }

  &__divider {
    @include absolute(auto, 0, 0, 0);
    position: absolute;
    width: 100%;
    background: #C4C4C4;
    height: 1px;

    &:before {
      @include absolute(0, auto, auto, 0);
      content: '';
      width: 0;
      height: 1px;
      background-color: transparent;
      @include transition();
    }
  }

  &__error-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
    color: $error_color;
    @include absolute(13px, auto, auto, 0);
    @include transition();
    opacity: 0;
    pointer-events: none;
  }

  &__asterisk {
    color: $section__header_color;
  }


  &__input:invalid:focus ~ &__divider:before {
    width: 100%;
    background-color: $error_color;
  }

  &__input:valid:focus ~ &__divider:before {
    width: 100%;
    background-color: green;
  }

  &__input:invalid:focus ~ &__error-text {
    opacity: 1;
    pointer-events: auto;
  }


}