@use "sass:math";

.header {
  padding-top: 20px;
  background-color: rgba(0, 136, 165, 0.6);
  background-image: url("../image/header__bg-image_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  //text-align: center;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    pointer-events: none;
    @include square(100%);
    background: rgba(0, 136, 165, 0.6);
    @include absolute(0, 0, 0, 0);
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  img {
    //display: block;
    //margin: auto;
  }

  h1 {
    margin-top: 54px;
    font-size: 43px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0;
    margin-bottom: 10px;

    @include respond-above(xxl) {
      font-size: 80px;
      line-height: 100%;
      margin-bottom: $spacer*1.25;
    }

  }

  h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    margin-bottom: 75px;

    @include h4_xl;
    @include respond-above(xl) {
      //font-size: 28px;
      //line-height: 95.02%;
      margin-bottom: 44px;
    }
  }

  &__button {
    $header__button_bg: rgba(58, 160, 182);
    $header__button_hover__bg: fade-out($header__button_bg, 0);
    $header__button_default__bg: fade-out($header__button_bg, 0.5);

    display: block;
    width: 100%;
    background: $header__button_default__bg;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 11.5px 17px;
    margin-bottom: 114px;
    @include transition();

    &:hover {
      background: $header__button_hover__bg;
    }

    @include respond-above(xl) {
      margin-bottom: 90px;
    }
  }

  &__triangle-bg {
    width: 100%;
    height: 0;
    padding-top: 55px;
    position: relative;;

    &:after {
      transform-origin: top left;
      content: "";
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      @include transform(rotate(351deg) skewX(358deg));
      width: 179%;
      height: 68px;
      background: $about__bg-color;
    }
  }

}

.about-and-join-us {
  background-color: $about__bg-color;
  background-image: url("../image/join-us__bg-image_mobile.svg");
  background-repeat: no-repeat;
  background-position: center center;
  //background-size: cover;

  @include respond-above(xl) {
    background-image: url("../image/join-us__bg-image_desktop.svg");
  }

}

.about {
  padding-top: 18px;


  h4 {
    font-weight: 400;
    margin-top: -10px;
    margin-right: -9px;
    text-align: right;
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 24px;

    @include h4_xl;

    @include respond-above(xl) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

}

.join-us {
  padding-top: 40px;

  &__header {
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 0;
  }

  h6 {
    text-align: right;
    margin-bottom: 0;
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    @include transition();

    &:hover {
      color: #9BB3C2;
    }
  }
}


.blog-news {
  padding-bottom: 26px - map-get($gutters,3);
  padding-top: $spacer*2;
  $header_title_height_xl: 39px;


  @include respond-above(xl) {
    padding-bottom: map-get($gutters, 3);
  }


  &__header-bg {
    @include respond-above(xl) {
      position: relative;
      z-index: 2;
      background: #fff;
    }
  }

  &__title {
    @include respond-above(xl) {
      font-size: 32px;
      line-height: $header_title_height_xl;
    }
  }

  &__view-more {
    text-decoration: none;
    cursor: pointer;
    color: $section__header_color;
    display: block;

    &:hover {
      color: $section__header_color;
    }
  }


  &__header-container {
    padding-bottom: 8px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden;

    .header-container__divider {
      width: 100%;
      height: 1px;
      background-color: $section__header_color;

      @include respond-above(xl) {
        $top_pos: math.div($header_title_height_xl, 2);
        width: calc(100% - map-get($gutters, 3));
        @include absolute($top_pos, map-get($gutters, 2), auto, map-get($gutters, 2));
        z-index: 0;
      }
    }
  }

}

.contacts {
  background: #F7F7F7;
  color: #8095A4;
  padding-top: $spacer*2.5;
  padding-bottom: $spacer*2.5;

  &__title {
    text-transform: none;
    font-weight: 500;
    margin-bottom: 20px;
    color: #1F2D3A;

    @include respond-above(xl) {
      font-size: 32px;
      line-height: 150%;
      margin-bottom: 22px;

    }
  }

  &__about-text {
    padding-bottom: $spacer*2.5 - map-get($gutters,4);

    hr {
      margin-bottom: 8px;
      width: 40px;
    }

    a {
      color: #082030;
    }

    p {
      margin-bottom: map-get($gutters, 2);
    }
  }

  &__button {
    margin-top: map-get($gutters, 4);
    background-color: $section__header_color;
    background-image: linear-gradient(223.08deg, #FFC953 6.11%, $section__header_color 97.63%);
    border-radius: 45px;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 18px;
    @include transition();

    &:hover {
      background: $section__header_color;
    }
  }
}

.footer {
  padding-top: $spacer*1.25;
  padding-bottom: $spacer*1.25;
  background: $section__header_color;

  @include respond-above(xl) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__title {
    @include respond-above(xl) {
      margin-bottom: 0;
    }
  }

  &__icon {
    @include respond-above(xl) {
      width: $spacer*2.5;
    }
  }

  .create-a-job-alert-button {
    width: 100%;
    margin-top: $spacer*1.25;
    padding: 6.25px;
    background: #FFFFFF;
    border-radius: 46.0973px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: $section__header_color;
    @include transition();

    @include respond-above(sm) {
      margin-top: 0;
      padding: 7.75px;
    }


    &:hover {
      background: #082030;
      color: #fff;
    }
  }
}