
body {
  color: #fff;
  font-family: Inter, sans-serif;
}



img {
  max-width: 100%;
}

textarea {
  resize: none;
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}

.container {

  &.gx-3 {
    padding-left: $spacer*1.25;
    padding-right: $spacer*1.25;
  }

  @include respond-above(xxl) {
    max-width: 1170px + $spacer*2.5;
  }
}
